*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    z-index: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

title {
    display: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #D9D9D9;
    color: #333;
    display: flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}

.click {
    position: absolute;
    width: 30px;
    height: 30px;
    background: none;
    border: #381E72 solid 2px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
}

#colloc-head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5vw 2rem;
    gap: 30vw;
}

#colloc-notification {
    border: black solid 1px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

#colloc-head {
    font-size: 32px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0;
    text-align: center;
    color: #381E72;
}

#colloc-notification-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#colloc-body-container {
    padding: 20vh 5vw 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26.5vw;
}

#colloc-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

#colloc-footer-container p {
    font-size: 64px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0;
    color: black;
}

.default-button {
    background-color: #2c2c2c;
    color: #f5f5f5;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 2rem;
}

.default-button p {
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
}

.colloc-button {
    width: 380px;
    height: 221px;
}

.back-button {
    --width-button: 5em;
    --height-button: 10vh;
    --border-radius: 10px;
    --font-size: 64px;
}

.back-button img {
    width: 50px;
    height: 50px;
}

.alerte-button {
    background-color: #EC221F;
    border-radius: var(--border-radius);
    border: #C00F0C solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: #FEE9E7;
    font-size: var(--font-size);
    width: var(--width-button);
    height: var(--height-button);
}

#alerte-header {
    display: flex;
    align-items: center;
    padding: 2rem 3.5rem 2rem;
}

#alerte-header-title,
#compartiment-header-title {
    font-size: 84px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0;
    color: #381E72;
    padding-left: 6em;
}

#alerte-buttons-choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
}

.alerte-button-choice {
    --width-button: 20em;
    --height-button: 10vh;
    --padding-button: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.alerte-button-choice p {
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 500;
}

.alerte-button-choice img {
    width: 33px;
    height: 27px;
}

.choice-button {
    /*#65558F #ECE6F0*/
    background-color: #ece6f0;
    color: #65558F;
    border: none;
    padding: var(--padding-button);
    border-radius: 5px;
    cursor: pointer;
    width: var(--width-button);
    height: var(--height-button);
    filter: drop-shadow(0px 2px 4px black) brightness(0.9);
}

#alerte-content {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem 3.5rem 2rem;
    gap: 14rem;
}

#alerte-content-container {
    display: flex;
    width: 90%;
    height: 72vh;
    flex-direction: column;
    border: 3px solid black;
}

.Alerte-item {
    display: flex;
    align-items: center;
    justify-content: start;
    background: white;
    border-bottom: #2c2c2c solid 3px;
    padding: 0.25rem 0.75rem;
    gap: 3.5rem;
}

.Alerte-item p {
    font-size: 16px;
}

.Alerte-item img {
    width: 40px;
    height: 40px;
}

.dispawn {
    animation: dispawn 0.5s ease-in-out forwards;
}

#compartiment-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 18rem;
}

#compartiment-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.compartiment-button {
    --padding-button: 0.5rem 1rem;
    --width-button: 193px;
    --height-button: 70px;
    align-items: center;
    display: flex;
    gap: 0.75rem;
}

#compartiment-item-list {
    width: 744px;
    height: 577px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 2px solid #000;
}

.compartiment-item {
    display: flex;
    align-items: center;
    justify-content: start;
    background: white;
    border-bottom: #2c2c2c solid 3px;
    padding: 0.25rem 0.75rem;
    gap: 3.5rem;
}

.compartiment-item input {
    pointer-events: none;
}

#search-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    width: 651px;
    height: 70px;
    margin-top: 5rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    background-color: rgb(214, 208, 217);
    filter: drop-shadow(0px 2px 4px black) brightness(1);
    border-radius: 5px;
}

#search-item-input {
    text-align: start;
    border: none;
    width: 90%;
    height: 100%;
    padding: 0.5rem 1rem;
    font-size: 32px;
    font-weight: 500;
    background-color: rgb(214, 208, 217);
    color: #381E72;
    outline: none;
}

#search-item-input::placeholder {
    color: #381E72;
    opacity: 0.8;
}

#search-item-input:focus::placeholder {
    color: transparent;
}

#search-item-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

#date-expiration-container {
    width: 403px;
    height: 162px;
    background-color: #ece6f0;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
}

#date-expiration-input-container {
    position: relative;
    border: #65558f solid 3px;
    border-radius: 4px;
    padding: 1rem;
}

#date-expiration-input-container::before {
    content: 'Date';
    position: absolute;
    background-color: #ece6f0;
    color: #65558F;
    transform: translate(0, -150%);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#date-expiration-input-container input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    text-align: start;
    font-size: 32px;
    font-weight: 500;
    color: #381E72;
}

#date-expiration-input {
    position: absolute;
    inset: 0;
    z-index: -1;
    text-decoration: none;
    font-size: 0 !important;
    pointer-events: none;
}

#date-expiration-input-text::placeholder {
    color: #000;
    opacity: 0.8;
    font-size: 32px;
    font-weight: 600;

}

#date-expiration-input::-webkit-calendar-picker-indicator {
    display: none;
}

#date-expiration-label {
    color: #1d1b20;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.1px;
    border-bottom: #000 solid 1px;
    padding: 1rem;
}

#item-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0 5vw;
    gap: 46vw;
}

#select-compartiment {
    padding: 1.25vh 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: #fff;
    border-radius: 8px;
}

#select-compartiment option {
    background-color: #fff;
    color: #381E72;
    font-size: 20px;
    font-weight: 500;
}

#Button-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5rem;
}

#add-item-button {
    background-color: #14AE5C;
    color: #EBFFEE;
    border-radius: 8px;
    padding: 2vh 2.5vw;
    font-size: 70px;
    font-weight: 500;
}

#cancel-item-button {
    background-color: #EC221F;
    color: #FEE9E7;
    border-radius: 8px;
    padding: 2vh 2.5vw;
    font-size: 70px;
    font-weight: 500;
}

/* Animation */

@keyframes dispawn {
    0% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
        display: none;
    }
}